:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-ink-1: #0f1115;
  --color-neutral-1: #f8f8f8;
  --color-neutral-2: #888888;
  --color-neutral-5: #bebebe;
  --color-neutral-6: #dedede;
  --color-blue-1: #4761fa;
}
